.row {
  display: flex;
  gap: var(--space-md);
  flex-wrap: wrap;
}

.row > * {
  flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
}

.align-items-center {
  align-items: center;
}

@media (min-width: 576px) {
  .col-sm-4 {
    width: calc((100% / 3) - (var(--space-md) / 1.5));
  }
  .col-sm-6 {
    width: calc(50% - var(--space-md) / 2);
  }
  .col-sm-8 {
    width: calc(66.66666667% - var(--space-md) / 2);
  }
  .col-sm-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    width: calc((100% / 3) - (var(--space-md) / 1.5));
  }
  .col-md-6 {
    width: calc(50% - var(--space-md) / 2);
  }
  .col-md-8 {
    width: calc(66.66666667% - var(--space-md) / 2);
  }
  .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-4 {
    width: calc((100% / 3) - (var(--space-md) / 1.5));
  }
  .col-lg-6 {
    width: calc(50% - var(--space-md) / 2);
  }
  .col-lg-8 {
    width: calc(66.66666667% - var(--space-md) / 2);
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-4 {
    width: calc((100% / 3) - (var(--space-md) / 2));
  }
  .col-xl-6 {
    width: calc(50% - var(--space-md) / 2);
  }
  .col-xl-8 {
    width: calc(66.66666667% - var(--space-md) / 2);
  }
  .col-xl-12 {
    width: 100%;
  }
}
