@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import './base.css';
@import './keyframes.css';
@import './typography.css';
@import './grid.css';

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: var(--font-size-main);
  font-family: var(--font-family);
  line-height: 1.4;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--space-md);
}

main {
  padding-top: var(--size-md);
  padding-bottom: var(--size-md);
}
